*.pyc
*.exe
*.jset
*.rar
/.idea/
/.vscode
/J_Living/J_LivingWorker/.vs/
/J_Living/J_LivingWorker/bin/
/J_Living/J_LivingWorker/obj/
/J_Living/J_LivingScript/python/.idea/
/J_Living/J_LivingScript/.idea/

/scripts/*.exe
/scripts/*.pk
/python/pyTools/build
/python/pyTools/.idea
/python/pyTools/dataFromSvn
/python/.idea
/scripts/maya/J_file/spritesTexture/*.dir