*.pyc
/J_Living/J_LivingSlave/.vs
/J_Living/J_LivingSlave/J_LivingSlave/bin/Debug
/J_Living/J_LivingSlave/J_LivingSlave/obj/Debug
/scripts/*.exe
/scripts/*.pk
/python/pyTools/build
/python/pyTools/.idea
/python/pyTools/dataFromSvn
/scripts/maya/J_file/spritesTexture/*.dir